@model Ingredient
@{
	ViewBag.Title = $"{Model.Name} Delete";
}
<h3>Are you sure you went to delete this?</h3>

<div>
	<h4>@Model.Name</h4>
	<form asp-action="Delete" method="post">
		<input type="hidden" asp-for="IngredientId"/>
		<input type="submit" value="Delete" class="btn btn-danger"/>
		<a asp-action="Index" class="btn btn-default">Back To List</a>
	</form>
</div>