@model Ingredient
@{
	ViewBag.Title = "Ingredient Details";
}
<h1>
	@Model.Name Details
</h1>
@if(Model.ProductIngredients != null && Model.ProductIngredients.Any())
{
	<h4>
		Products
	</h4>
	<table class="table">
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Description</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var prod in Model.ProductIngredients)
			{
				<tr>
					<td>@prod.Product.Name</td>
					<td>@prod.Product.Description</td>
					<td>@prod.Product.Price</td>
				</tr>
			}
		</tbody>
	</table>
}
<a asp-action="index" class="btn btn-dark ">Back To List</a>